<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2 class="text-center mb-5">Report</h2>
            <form method="post" th:object="${subjectDto}">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Type</label>
                    <div class="col-sm-8">
                        <select class="form-select" th:field="${subjectDto.type}">
                            <option th:each="type : ${typeValues}" th:value="${type}" th:text="${type.getStringValue()}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('type')}" th:errorclass="text-danger"
                           th:errors="${subjectDto.type}"></p><br>
                    </div>

                    <div class="row">
                        <div class="offset-sm-4 col-sm-4 d-grid">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col-sm-4 d-grid">
                            <a class="btn btn-outline-primary" href="/subjects" role="button">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>