<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<body>
<div class="container">
    <h1 class="text-center my-4">Subjects</h1>

    <a class="btn btn-primary" href="/subjects/create">Create subject</a>
    <a class="btn btn-primary" href="home/">Вернуться на главную</a>
    <a class="btn btn-primary" href="subjects/generateReport">Сформировать отчёт</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Тип</th>
            <th>Дата выдачи</th>
            <th>Дата окончания срока действия</th>
            <th>Группа</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}">
            <td th:text="${subject.id}"></td>
            <td th:text="${subject.name}"></td>
            <td th:text="${subject.type.getStringValue()}"></td>
            <td th:text="${subject.issueDate}"></td>
            <td>
                <span th:text="${subject.expirationDate}"></span>
                <span th:if="${subject.getExpirationDate().before(subject.type.getExpirationDate()) && subject.getExpirationDate().after(#dates.createNow())}"
                      class="text-danger">Скоро окончание срока действия</span>
                <span th:if="${subject.getExpirationDate().before(#dates.createNow())}"
                      class="text-danger">Срок истёк</span>
            </td>
            <td th:text="${subject.group.name}"></td>
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm"
                   th:href="@{/subjects/edit/{id}(id=${subject.id})}">Edit</a>

                <a class="btn btn-danger btn-sm"
                   th:href="@{/subjects/delete/{id}(id=${subject.id})}"
                   onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

