<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<body>
<div class="container">
    <h1 class="text-center my-4">Groups</h1>

    <a class="btn btn-primary" href="/groups/create">Create group</a>
    <a class="btn btn-primary" href="index.html">Вернуться на главную</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Цвет</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.getId()}"></td>
            <td th:text="${group.name}"></td>
            <td th:style="'color: ' + ${group.color}" th:text="${group.color}"></td>
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm"
                   th:href="@{/groups/edit/{id}(id=${group.id})}">Edit</a>
                <a class="btn btn-danger btn-sm"
                   th:href="@{/groups/delete/{id}(id=${group.id})}"
                   onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>