<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>File Upload</title>
</head>
<body>
<div class="container">
    <h1 class="text-center my-4">Загрузите файл</h1>

    <a class="btn btn-primary" style="margin-bottom: 2%" href="home/">Вернуться на главную</a>

    <form action="file" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <input type="file" name="file" accept=".xml">
        <button type="submit">Upload</button>
    </form>

    <p id="error-message"></p>
</div>
</body>
</html>